<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS bootstratp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- CSS propio -->
    <link rel="stylesheet" href="../archivos_css/estilos.css">

<body class="fondo">
    </head>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="navbar-brand" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="../views/nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="../views/preguntas_frecuentes.html">Preguntas Frecuentes</a>
        </li>
    </ul>
    </header>
    <main class="textonosotros texto">
        <h1 class="textoh1nosotros">Acerca de nosotros</h1>
        <section class="container-fluid">
            <div class="row ">
                <div class="col-lg-12 col-md-6 col-xs-1">
                    <p
                        class="textonosotrosp fs-4 lh-lg animate__animated animate__slideInLeft animate__delay-1s animate__slower">
                        Somos una entidad cambiara online y además hemos sido la primera entidad financiera en contar con un manual normativo para operaciones de
                        delivery, la primera en desarollar una App para smartphones donde los clientes pueden acceder al
                        Mercado Libre de Cambios sin moverse de su casa, negocio o empresa y la primera entidad
                        cambiaria en ofrecer un servicio de cambio de moneda extranjera por Internet.
                    </p>
                </div>
                <div class="col-lg-12 col-md-6 col-xs-1 img_nosotros">
                    <img class="img-fluid rounded imgNos1" src="../imagenes/nosotros1.jpeg" style="border: solid black 1.1px"
                        alt="persona cambiando dinero">
                    <img class="img-fluid rounded imgNos2" src="../imagenes/nosotros3.jpeg" style="border: solid black 1.1px"
                        alt="persona estrechando mano como un acuerdo">
                    <img class="img-fluid rounded imgNos3 " src="../imagenes/nosotros2.jpeg" style="border: solid black 1.1px"
                        alt="persona cambiando dinero">
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>


</body>

</html>