<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS bootstratp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- CSS propio -->
    <link rel="stylesheet" href="../archivos_css/estilos.css">
</head>

<body class="fondo">
    <header>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="navbar-brand" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="../views/nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="../views/preguntas_frecuentes.html">Preguntas Frecuentes</a>
                <!--   <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
            </li>
        </ul>
    </header>
    <main>
        <main class="textopreguntasfrecuentes">
            <h1 class="textoh1nosotros">Información</h1>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item ">
                    <h2 class="accordion-header " id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            ¿CUÁLES SON LOS LÍMITES PARA COMPRAR O VENDER MONEDA EXTRANJERA?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body ">
                            *La Comunicación “A” 6770 del Banco Central de la República Argentina y sus modificatorias,
                            establecieron un límite para la adquisición de moneda extranjera para la constitución de
                            activos externos (incluye ahorro) de personas humanas del equivalente a USD 200 por mes
                            calendario en el conjunto de las entidades autorizadas a operar en cambios. En el caso de
                            compras en efectivo el límite se reduce al equivalente a USD 100 por mes calendario. No hay
                            límite para desprenderse de moneda extranjera.    * Sólo para residentes argentinos
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            ¿QUÉ DOCUMENTOS DEBO PRESENTAR PARA PODER COMPRAR O VENDER MONEDA EXTRANJERA?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Si es Residente Argentino debe presentar DNI.
                            Si es no residente PASAPORTE u otro documento de viaje utilizado para ingresar al país (en
                            este caso el monto total permitido para la venta es de U$S 100), por ejemplo CEDULA DE
                            IDENTID|AD emitida por un Estado Miembro o Asociado al Mercosur (Brasil, Uruguay, Paraguay,
                            Bolivia, Chile, Colombia, Ecuador, Perú y Venezuela).

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ¿PUEDO PAGAR MEDIANTE CHEQUE O TRANSFERENCIA BANCARIA?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Sí. En el caso de adquisiciones de moneda extranjera, el cliente podrá pagar con efectivo o
                            con transferencia bancaria desde cuentas propias. 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            ¿PUEDO RECIBIR LA MONEDA EXTRANJERA ADQUIRIDA EN MI CUENTA?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Si adquirís dólares estadunidenses, puedes recibirlos en Dólares billetes o las Divisas en
                            efectivo o mediante transferencia a la cuenta en dólares estadounidenses que nos indiques.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            ¿QUÉ REQUISITOS DEBO CUMPLIR?
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Debes ser mayor de edad y registrar en nuestro sistema, al menos, una caja de ahorro en
                            pesos y otra en dólares debido a que, por seguridad, solo operamos a través de
                            transferencias bancarias del mismo titular. En el caso que la operación sea bancarizada
                            totalmente, también puedes enviarnos los pesos de tu cuenta corriente o caja de ahorros para
                            ser retirado presencialmente en nuestro local*.
                            • modalidad suspendida mientras dure la pandemia

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            ¿QUÉ PASA SI REALICÉ LA TRANSFERENCIA POR UN MONTO EQUIVOCADO?
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            El sistema detectará la discrepancia y devolverá el dinero al CBU que hayas dado de alta en
                            tu perfil de acuerdo a la moneda que hayas transferido.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            ¿CUÁL ES EL TIEMPO EN EL CUAL RECIBIRÉ LA TRANSFERENCIA DE LOS DÓLARES O LOS PESOS DE
                            ACUERDO A LA OPERACIÓN QUE HAYA REALIZADO?
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Usualmente, deberías recibir tus dólares o pesos durante el mismo día en que realizaste la
                            operación. Nosotros la procesamos al recibir los fondos en nuestra cuenta y eso puede llevar
                            tiempo de acuerdo a la demanda, pero siempre apuntamos a cerrar todas las operaciones en el
                            día (aún después del horario en que el sistema está disponible). Es necesario tener en
                            cuenta que algunos bancos pueden demorar la recepción debido a controles adicionales que
                            suelen agregar sobre las transacciones.


                        </div>
                    </div>
                </div>
        </main>


</body>

</html>