.fondo {
    background-color: rgb(104, 248, 104);
}

.texto_home {
    text-align: center;
    color: black;
    font-family: "Mr Dafoe", cursive;
    font-size: 20px;
}
.card4{
    margin-top: 15px;
}
.card5{
    margin-top: 15px;
}
.card6{
    margin-top: 15px;
}
.card1{
    margin-top: 15px;
}
.card2{
    margin-top: 15px;
}
.card3{
    margin-top: 15px;
}
