* {
    margin: 0;
    padding: 0;
}

.fondo {
    background-color: rgb(104, 248, 104);
}

.contenedor {
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.imagenMoneda {
    width: 19.7vw;
    height: 10vw;
}

.texto_titulo {
    text-align: center;
    color: black;
    font-family: "Mr Dafoe", cursive;
    font-size: 30px;
} 

.texto_subtitulo {
    text-align: center;
    color: black;
    font-family: "Mr Dafoe", cursive;
    font-size: 20px;
}
.carritoIcon {
    margin-left: 90vw;
    width: 2.3vw;
    height: auto;
}

.fotoProductoCarrito {
    width: 5vw;
    height: auto;
}
.on{
    display: block;
}
.off{
    display: none;
}
.carritoOff{
    display: none;
}

.carritoOn{
    display: block;
    position: fixed;
    top: 10%;
    right: 0.2%;
    width: auto;
    height: auto;
    min-height: 30%;
    max-height: 60%;
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
