.fondo {
    background-color: rgb(104, 248, 104);
}

.texto_home {
    text-align: center;
    color: black;
    font-family: "Mr Dafoe", cursive;
    font-size: 20px;
}
.imagenMoneda{
    width: 19.8vw;
    height: 10vw;
}
.contenedor{
    border: 1px black solid;
    ;
}